@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
/* reset CSS file to reset browser default styling to a consistent starting point */
@import url(reset.css);

body {
    font-family: 'Share Tech Mono', sans-serif;
    background: url('../img/pizza1.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
 	 background-size: cover;
    font-size: 20px;
}

p {
	padding: 15px;
}


.container {
	background: white;
	background-color: rgba(255, 255, 255, 0.7); /* Color white with alpha 0.9*/
	max-width: 85%;
	font-weight: bold;
}



.dog{
	max-width: 100%;
	padding: 10px;

}

.motto {
	
	font-size: 30px;
	text-align: center;
} 

.picture{
	max-width: 30%;
	float: left;
	padding: 10px;
}


.info {
	font-size: 24px;
	text-align: center;
	padding: 30px;
}

.dessert, .drink, .pizza{
	text-align: center;
}

.footer {
	border-style:solid;
	border-top:thin solid #DEDEDE;
	width: 95%;
	font-size: 80%;
	font-style: italic;
	margin: 10px;
	text-align: center;
}

.pizza {
	max-height: 315px;
	padding: 10px;
}

.menu p {
	padding: 0px;
	padding-left: 10px;
}

.customize {
	font-weight: bold;
	font-style: italic;
	color: #CC00FF;
	text-align: center;
	font-size: 30px;
	padding: 20px;
}

h1, h2 {
	font-style: italic;
	font-weight: bold;
	font-size: 24px;
	padding: 10px;
}

h2 {
	clear: both;
}

h3 {
	font-weight: bold;
	
	font-size: 28px;
	text-align: center;
	padding: 10px;
}

h4 {
	font-weight: bold;
	font-size: 28px;
	padding: 5px;
	padding-top: 25px;
	color: #6600CC;
}

ol {
	text-align: center;
	padding: 10px;

}

dl dt {
	font-style: italic;
	padding-top: 10px;
	
}

.name {
	padding: 5px;
}

@media screen and (max-width: 767px) {
    .container .picture {
		 display: none; 	
    }
   	
}

iframe {
	float: right;
	text-align: center;
}